%nav#slider-controls-wrapper
	
	%header#slider-controls-header-wrapper
		%header#slider-controls-header
			%hgroup#slider-controls-title-wrapper
				%h1#slider-controls-title
					Controls
	
	%nav#slider-controls
		#left-control-wrapper.control-wrapper
			#left-control.control
		#right-control-wrapper.control-wrapper
			#right-control.control
		#pause-control-wrapper.control-wrapper
			#pause-control.control
		#play-control-wrapper.control-wrapper
			#play-control.control
		#refresh-control-wrapper.control-wrapper
			#refresh-control.control