%nav#slider-controls-wrapper
	
	%header#slider-controls-header-wrapper
		%header#slider-controls-header
	
	%nav#slider-controls
		#left-control-wrapper.control-wrapper
			#left-control.control
				%h1
		#right-control-wrapper.control-wrapper
			#right-control.control
				%h1
		#pause-control-wrapper.control-wrapper
			#pause-control.control
				%h1
		#play-control-wrapper.control-wrapper
			#play-control.control
				%h1	
		#refresh-control-wrapper.control-wrapper
			#refresh-control.control
				%h1
	
	%br.clear